@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format("opentype");
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(fontes/BebasNeue-Regular.ttf) format("truetype");
}

:root {
    --cor1: #83e1ad;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', sans-serif;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}