@charset "UTF-8";
 body{
            background-color: azure;
            font-family:Arial, Helvetica, sans-serif;
        }
header{
            background-color: antiquewhite;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
        }
main{
            background-color: aquamarine;
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
        }
        nav{
            padding: 5px;
            background-color: rgb(150, 150, 143);
            font-weight: bolder;
            box-shadow:2px 4px 2px rgba(0, 0, 0, 0.592);
            
            


        }
        nav > a {
            text-decoration: none;
            color: rgb(129, 105, 105);
            font-weight: bold;
            margin-right: 30px;
            

        }
        nav > a:hover{
            text-decoration:underline;
            color: aqua;
        }
        footer > a{
            margin: 1px;
        }
        article{
            background-color: rgb(102, 128, 119);
            padding: 3px 3px 4px 5px;
        }
        footer{
            background-color: black;
            font-style: italic;
            color: azure;
            padding: 1px;
            border-radius: 8px;
            margin: 10px;
            box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.163);
        }