@charset "UTF-8";
body{
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
 color: aqua;

}
#principal{
    text-align: center;
    background-color: rgb(19, 27, 24);
    border-radius:15px;
}
h2{
 color: rgb(13, 234, 160);
}
.basico{
    color: rgb(4, 42, 29);
    
}
.intermediario{
    color: rgb(14, 97, 69);

}
.avancado{
    color: aquamarine;
}
