@charset "UTF-8"
body{
    background-color: rgb(234, 184, 184);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
h1 {
    color: aqua;
    background-color: bisque;

}
h2{
    color: aquamarine;
}
p{
    color: blueviolet;
}