@charset "UTF-8";
*{
   
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
body{
    background-image: linear-gradient(to left,rgb(202, 188, 188),rgb(127, 98, 132));
}
main{
    border-radius: 20px;
    box-shadow:10px 5px 19px rgb(78, 73, 73);
    background-color: white;
    width: 600px; 
    padding: 10px;
    margin: auto;
}
h1{
    color: rgb(104, 236, 190);
    text-align: center;
    text-shadow: 2px 3px 4px rgb(36, 83, 66);
}