@charset "UTF-8";
body{
    background-color: aquamarine;

}
.topo{
    height:150px;
    width:auto;
    display: grid;
    margin: -10px -10px 1px;
    background-color: rgb(27, 143, 104);
    text-align: center;
    color:aliceblue;
    box-shadow: 5px 6px 3px rgba(0, 0, 0, 0.671);
    
}
.menu{
    margin-top: 10px;
    text-align: left;
    
}

.imagem{
    width:auto;
    max-width: 620px;
}
a {
   text-decoration: none;
   color: white;
   font-weight: 600;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 10px;
   text-align: left;
   font-size:10px;
}
a:hover{
    
    background-color: rgb(5, 115, 60);
    margin: 10px;
    padding: 6px;
    border-radius: 10px;

}
main{
    margin: -1px 50px 50px 50px;
    background-color: white;
    padding-top: 3px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: justify;
}
.tema{
    font-family: 'loveble';
    color: rgb(14, 108, 53);
    background-color: rgba(14, 108, 53, 0.314);
    padding: 3px;
}
#titulo2{
    font-family: 'loveble';
    color:rgb(14, 108, 53) ;
}